{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>
{% for table in args.tables %}
<h2>{{ table.title }}</h2>
<table>
  <thead>
    <tr>
      {% for column in table.header %}
        <th>{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for data_item in table.rows %}
        <td>
            {{ data_item }}
        </td>
    {% endfor %}
  </tbody>
</table>
<br/>
{% endfor %}
<form name="input" action="/authorStats/{{ args.author_name }}" method="get" data-ajax="false">
    <input type="submit" value="Show coauthors figure" name = "value">
</form>
<script>
function validateForm(form){
  author_name = form["author_name"].value;

  if (author_name.contains([0-9]) || author_name.trim() == ""){
    alert("Invalid author name");
    return false;
  }
  return true;
}
</script>

{% endblock %}