{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="container">
    <div id="hpage_latest">
      <ul>
        <li>
          <div class="imgholder"><a href="/statisticsdetails/publication_summary"><img src="{{ url_for('static', filename='images/Publication_summary.png') }}" width="260" height="180" alt="" /></a></div>
          <p><strong>Publication Summary</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
        </li>
        <li>
          <div class="imgholder"><a href="/statisticsdetails/publication_author"><img src="{{ url_for('static', filename='images/Publication_by_author.jpg') }}" width="260" height="180" alt="" /></a></div>
          <p><strong>Publication by Author</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
        </li>
        <li class="last">
          <div class="imgholder"><a href="/statisticsdetails/publication_year"><img src="{{ url_for('static', filename='images/Publication_by_year.jpg') }}" width="260" height="180" alt="" /></a></div>
          <p><strong>Publication by Year</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
            <br>
        </li>
          <li>
          <div class="imgholder"><a href="/statisticsdetails/author_year"><img src="{{ url_for('static', filename='images/Author_by_year.jpg') }}" width="260" height="180" alt="" /></a></div>
          <p><strong>Author by Year</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
        </li>
        <li>
          <div class="imgholder"><a href="/statisticsdetails/appearance_author"><img src="{{ url_for('static', filename='images/Appearance_by_author.jpg') }}" width="260" height="180" alt="" /></a></div>
          <p><strong>Appearance by Author</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
        </li>
        <li class="last">
          <div class="imgholder"><a href="/averages"><img src="{{ url_for('static', filename='images/Average_year_data.jpg') }}" width="260" height="180" alt="" /></a></div>
          <p><strong>Averaged Year Data</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
            <br>
        </li>
          <li>
          <div class="imgholder"><a href="/coauthors"><img src="{{ url_for('static', filename='images/Coauthor.jpg') }}" width="260" height="180" alt="" /></a></div>
          <p><strong>Co-Authors</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
        </li>
        <li>
          <div class="imgholder"><a href="/distance"><img src="{{ url_for('static', filename='images/Degree_of_separation.jpg') }}" width="260" height="180" alt="" /></a></div>
          <p><strong>Degree of Separation</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
        </li>
        <li class="last">
          <div class="imgholder"><a href="/searchauthors"><img src="{{ url_for('static', filename='images/search.png') }}" width="260" height="180" alt="" /></a></div>
          <p><strong>Search Author</strong></p>
          <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>
{% endblock %}
