{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>

<script type="text/javascript">
<!--
var TSort_Data = new Array ('statistics_details', 's', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i');
var TSort_Initial = 0;
tsRegister();
// -->
</script>

<table id="statistics_details">
  <thead>
    <tr>
    {% for column in args.data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for row in args.data[1] %}
    <tr>
    {% for data_item in row %}
      <td>{{ data_item }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
