{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>

<script type="text/javascript">
<!--
var TSort_Data = new Array ('statistics_details', 's', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i', 'i');
var TSort_Initial = 0;
tsRegister();
// -->
</script>

<table id="statistics_details">
  <thead>
    <tr>
    {% for column in args.data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for row in args.data[1] %}
    <tr>
    {% for data_item in row %}
        {% if data_item == row[0] and (args.title == "Author Publication" or args.title == "Appearance") %}
            <td><a href="/authorStats/{{ data_item }}">{{ data_item }}</a></td>
        {% else %}
            <td> {{ data_item }} </td>
        {% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% if args.title == "Publication by Year" %}
    <form name="input" action="/statisticsdetails/publication_year" method="get" data-ajax="false">
        <input type="submit" value="Show figure" name = "value">
    </form>
{% endif %}
{% if args.title == "Author by Year" %}
    <form name="input" action="/statisticsdetails/author_year" method="get" data-ajax="false">
        <input type="submit" value="Show figure" name = "value">
    </form>
{% endif %}
{% endblock %}
